---
layout: page
permalink: /biorobotics/
title: Biorobotics Lab
---

<h2><small>Building Robots of All Sizes</small></h2>

I have been working in the Biorobotics Lab at CMU since Spring 2019, and my work has focused on 2 main projects: the DARPA SubT Challenge and a Modular Pole Climbing Robot. Each of these projects operate on very different scales, and each has given me a chance to work in different areas in robotics.

<br>
<br>
<span class="removed"><a style="color:white;" href="/subt/">SubT</a></span>

<br>
<br>
<span class="removed"><a style="color:white;" href="/polebot/">PoleBot</a></span>

<div>

{% assign tags_sorted = site.tags | sort %}
  

{% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "Biorobotics" %}
        
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
	
    <div id="#{{ tag_name | slugize }}"></div>

    <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
    <a name="{{ tag_name | slugize }}"></a>

    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <a href="{{ post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</a>
    </article>
    {% endfor %}
  </div>
    {% endif %}

{% endfor %}

</div>
