---
layout: page
permalink: /current/
title: Current Work
---
<div>
<h2><small>Classes</small></h2>
This Semester I'm taking:
<table>
  <tr>
    <th>Class</th>
    <th>Relevant Page</th>
  </tr>
  <tr>
    <td>Dynamic Systems and Controls</td>
    <td><a href="/dsc/"></a></td>
  </tr>
  <tr>
    <td>Principles of Functional Programming</td>
    <td><a href="/functional/"></a></td>
  </tr>
  <tr>
    <td>Stress Analysis</td>
    <td><a href="/stress/"></a></td>
  </tr>
  <tr>
    <td>Numerical Methods</td>
    <td><a href="/numerical/"></a></td>
  </tr>
  <tr>
    <td>Gadgetry</td>
    <td><a href="/gadgetry/"></a></td>
  </tr>
</table>

<h2><small>Projects</small></h2>

<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>
    <th>Relevant Page</th>
  </tr>
  <tr>
    <td>Website</td>
    <td>Personal</td>
    <td><a href="/website/"></a></td>
  </tr>
    <tr>
      <td>Automated Bottle Opener</td>
      <td>Gadgetry Final Project</td>
      <td><a href="/bottleopener/"></a></td>
    </tr>
</table>


<h2><small>Backlog/Hiatus Projects</small></h2>

<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>
    <th>Relevant Page</th>
  </tr>
  <tr>
    <td>Learning Spotify/Slack APIs</td>
    <td>Fringe Playlist Curation</td>
    <td><a></a></td>
  </tr>
  <tr>
    <td>Learn about Cisco Security</td>
    <td>Air Force Cyber</td>
    <td><a></a></td>
  </tr>
</table>

<h2><small>Completed (So Not Current, I Suppose)</small></h2>


<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>
    <th>Relevant Page</th>
  </tr>
  <tr>
    <td>CPRobot</td>
    <td>Build18 Hackathon 2020</td>
    <td><a></a></td>
  </tr>
</table>

<table>
  <tr>
    <th>Class</th>
    <th>Semester</th>
    <th>Relevant Page</th>
  </tr>
  <tr>
    <td>Fundamentals of Mechanical Engineering</td>
    <td>Fall 2018</td>
    <td><a href="/fundmeche/"></a></td>
  </tr>
  <tr>
    <td>Fundamentals of Programming and CS</td>
    <td>Fall 2018</td>
    <td><a href="/112/">15-112</a></td>
  </tr>
  <tr>
    <td>Fluid Mechanics</td>
    <td>Spring 2019</td>
    <td><a href="/fluids/"></a></td>
  </tr>
  <tr>
    <td>Principles of Imperative Computation</td>
    <td>Fall 2019</td>
    <td><a href="/imperative/">15-122</a></td>
  </tr>
  <tr>
    <td>Thermodynamics</td>
    <td>Fall 2019</td>
    <td><a href="/thermo/"></a></td>
  </tr>
  <tr>
    <td>Statics</td>
    <td>Fall 2019</td>
    <td><a href="/statics/"></a></td>
  </tr>
</table>



</div>

<div>

{% assign tags_sorted = site.tags | sort %}
  

{% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "Current" %}
        
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
	
    <div id="#{{ tag_name | slugize }}"></div>

    <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
    <a name="{{ tag_name | slugize }}"></a>

    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <a href="{{ post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</a>
    </article>
    {% endfor %}
  </div>
    {% endif %}

{% endfor %}

</div>
