---
layout: page
permalink: /current/
title: Current Work
---

This page contains all of my classes and projects in progress/completed <a href="#section1">[1]</a>

<div>
<h2><small>Classes</small></h2>
This Semester I'm taking:
<table>
  <tr>
    <th>Class</th>
    
  </tr>
  <tr>
    <td><a href="/dsc/">Dynamic Systems and Controls</a></td>
  </tr>
  <tr>
    <td><a href="/functional/">Principles of Functional Programming</a></td>
  </tr>
  <tr>
    <td><a href="/stress/">Stress Analysis</a></td>
  </tr>
  <tr>
    <td><a href="/numerical/">Numerical Methods</a></td>
  </tr>
  <tr>
    <td><a href="/gadgetry/">Gadgetry</a></td>
  </tr>
</table>

<h2><small>Projects</small></h2>

<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>   
  </tr>
  <tr>
    <td><a href="/website/">Website</a></td>
    <td>Personal</td>
  </tr>
    <tr>
      <td><a href="/bottleopener/">Automated Bottle Opener</a></td>
      <td>Gadgetry Final Project</td>
    </tr>
</table>


<h2><small>Backlog/Hiatus Projects</small></h2>

<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>
  </tr>
  <tr>
    <td>Learning Spotify/Slack APIs</td>
    <td>Fringe Playlist Curation</td>
  </tr>
  <tr>
    <td>Learn about Cisco Security</td>
    <td>Air Force Cyber</td>
  </tr>
</table>

<h2><small>Completed (So Not Current, I Suppose)</small></h2>

<table>
  <tr>
    <th>Project Name</th>
    <th>For</th>
  </tr>
  <tr>
    <td><a href="/cprobot/">CPRobot</a></td>
    <td>Build18 Hackathon 2020</td>
  </tr>
</table>

<table>
  <tr>
    <th>Class</th>
    <th>Semester</th>
  </tr>
  <tr>
    <td><a href="/fundmeche/">Fundamentals of Mechanical Engineering</a></td>
    <td>Fall 2018</td>

  </tr>
  <tr>
    <td><a href="/112/">Fundamentals of Programming and CS</a></td>
    <td>Fall 2018</td>
 
  </tr>
  <tr>
    <td><a href="/fluids/">Fluid Mechanics</a></td>
    <td>Spring 2019</td>
  </tr>
  <tr>
    <td><a href="/imperative/">Principles of Imperative Computation</a></td>
    <td>Fall 2019</td>
  </tr>
  <tr>
    <td><a href="/thermo/">Thermodynamics</a></td>
    <td>Fall 2019</td>
  </tr>
  <tr>
    <td><a href="/statics/">Statics</a></td>
    <td>Fall 2019</td>
  </tr>
</table>

</div>

<p id="section1">[1] The stuff here is only from college. If you're interested in seeing my high school projects as well, look <a href="/hs/">here</a></p>

<div>

{% assign tags_sorted = site.tags | sort %}
  

{% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "Current" %}
        
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
	
    <div id="#{{ tag_name | slugize }}"></div>

    <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
    <a name="{{ tag_name | slugize }}"></a>

    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <a href="{{ post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}</a>
    </article>
    {% endfor %}
  </div>
    {% endif %}

{% endfor %}

</div>
