---
layout: default
title: Home
---

<h2>Welcome to my website.</h2><br>

I'm a Junior in Mechanical Engineering, but I don't like to limit myself. I'm a mechanical engineer plus I'm interested in robotics, computer science, cybersecurity, international relations, music, and more. I'm constantly trying to learn more, and hopefully this will act as a nice repository for all my work and projects going forwards. 

The navigation up top should be self explanatory, but here are a few highlights: <br>

A sample of the work I've done in robotics: <a href="/biorobotics/">Biorobotics Lab</a><br>
A log of my current work as a buggy head mechanic: <a href="/nb21/">New Buggy 2021</a><br>


Find my email and other contact info below: <br>
My School Email: [jtw2@andrew.cmu.edu](mailto:jtw2@andrew.cmu.edu "My School Email") <br>
My Personal Email: [jamestorrissonwong@gmail.com](mailto:jamestorrissonwong@gmail.com "My Personal Email") <br>

<!--
Here are some links to some recent classes and projects:<br>
<a href="/sm2020/">Summer Projects</a><br>
<a href="/bottleopener/">Automated Bottle Opener</a><br>
<a href="/cprobot/">CPRobot</a><br>

A sample of the work I've done in robotics: <a href="/biorobotics/">Biorobotics Lab</a><br>
And a log of my current work as head mechanic: <a href="/nb21/">New Buggy 2021</a><br>

<br>
<br>
During the summer of 2020, I had plenty of time to reflect on my experiences. It's a "sum of small things" approach to looking at my life as a transgender man. My thoughts below: <br>
<a href="/edgecases/">Edge Cases</a><br>
<a href="/edgecases2/">Edge Cases II</a><br>
<br>
I'm now 2 years into my fight against Trump's Transgender Military Ban, and I've taken a moment to understand the war so far:
<a href="/tsgs/">Tactics, Strategy, and Grand Strategy</a> <br>



<div class="posts">
  {% for post in paginator.posts %}
  {% capture tag_name %}{{ tag | first }}{% endcapture %}
  {% if tag_name != "Personal" or "WritingAndMusings" or "ROTC" or "Books" or "Trans" or "HS"%}
  <article class="post">
<h1 class="post-title">
<a href="{% if post.link %}{{ post.link }}{% else %}{{ post.url }}{% endif %}">{{ post.title | smartify }}</a>{% if post.link %}<span class="link-arrow"> &rarr;</span>{% endif %}
</h1>
    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_long_string: "ordinal", "US" }}
    {% if post %}
    {% assign categories = post.categories %}
    {% else %}
    {% assign categories = page.categories %}
    {% endif %}
    {% for category in categories %}
    in <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
    {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
    {%- if post.last_modified_at -%}
    <br><i>Last updated on: {{ post.last_modified_at | date_to_long_string: "ordinal", "US" }}</i>
    {%- endif -%}
    </time>

<span class="permalink">
{% if post.link %}
<a href="{{ post.url }}">Permalink</a>
{% endif %}
</span>

    {{ post.content | smartify }}
	
  <br>
  <div class="tag-list">
  {% if post %}
  {% assign tags = post.tags %}
  {% else %}
  {% assign tags = page.tags %}
  {% endif %}
  {% for tag in tags %}
  <a href="{{site.baseurl}}/tags/#{{tag|slugize}}">#{{tag}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </div>
	
  </article>
  {% endif %}
  {% endfor %}
</div>

<div class="PageNavigation">
  {% if paginator.next_page %}
    <a class="prev" href="{{ paginator.next_page_path | prepend: site.baseurl }}">← Older</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="next" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer →</a>
  {% endif %}
</div>

-->