.collapsible {

  background-color: #eee;
  @media (prefers-color-scheme: dark) {
    background-color: #555555;
  }
  color: $light;
  @media (prefers-color-scheme: dark) {
    color: $dark;
  }

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #777;
  }
  
  .collapsible-content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #eee;
    @media (prefers-color-scheme: dark) {
      background-color: #555555;
    }
    color: $body-color;
  }
  