.collapsible {

  background-color: $body-bg;
  @media (prefers-color-scheme: dark) {
    background-color: $body-bg-dark;
  }
  color:$light;
  @media (prefers-color-scheme: dark) {
    color: $dark;
  }

  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #eee;
    color: $light;
    @media (prefers-color-scheme: dark) {
      color: $dark;
    }
  }
  
  .collapsiblecontent {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: $body-bg;
    @media (prefers-color-scheme: dark) {
      background-color: $body-bg-dark;
    }
    color: $body-color;
    @media (prefers-color-scheme: dark) {
      background-color: $body-color-dark;
    }

  }
  