// Masthead
//
// The style of the site's title and optional secondary description.

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  text-align: center;
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 20px;
  color: $body-color;
  position: relative;
  text-align: center;
  padding-right: 12px;
  
@media (prefers-color-scheme: dark) {
  color: $body-color-dark;
  }

  a {
    color: inherit;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    opacity: .5;
  }
}

.navigation {
  display: block;
  font-size: 100%;
  font-weight: 500;
  color: $body-color;
  
@media (prefers-color-scheme: dark) {
  color: $body-color-dark;
  }
  
ul#navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  }

ul#navigation-list li {
    display: inline;
    list-style: none;
	  padding-left: 6px;
    padding-right: 6px;
	  margin: 0;
    }
}

ul#navigation-list li:hover{
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #555;
}

ul#navigation-list li:hover ul {
  display: block;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

ul#navigation-list li ul {
  position: absolute;
  top: 0px;
  left: 0px;
  display: #666;
}

ul#navigation-list li ul li { 
  background: #555; 
  display: block; 
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

ul#navigation-list li ul li a {
  display:block !important;
} 

ul#navigation-list li ul li:hover {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background: #666;
}