.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row ;
}

.sidenav {
    width: 15%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;
  }

.left {
    width: 60%;
    display: flex;
    flex-direction: row ;
}