.wrapper {
  display: flex;
  justify-content: space-between;
}

.left {
  width: 60%;
}

.sidenav {
    width: 15%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
  }

