.wrapper {
  display: flex;
}

.main,
.sidebar {
  padding: 15px;
}

.sidenav {
    width: 15%;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    right: 0;

  }

.left {
    width: 60%;
}