---
layout: page
permalink: /polebot/
title: PoleBot
---

<br>
<br>
<span class="removed">PoleBot</span> <br>

I have worked in all aspects of this projects, ranging from troubleshooting hardware problems with our servo motors, to mechanical design of our module locking system, to the code that runs the robot. 
<br>

<div class="iframe-container">
<iframe src="https://www.youtube.com/embed/uSU-kyc9glg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br>

<span class="removed">Code</span> <br>
The code is currently being run in MATLAB, however I hope to move it to C++, or have it generated through SIMULINK once the vision is completed. 
<br>

<a href="#section1"><span class="removed">Vision</span></a><br>
One of the more complex problems I have been working on has been integrating computer vision into our current system. We have refined the pole detection to the point where I believe we could move forward with integrating it into a controller. However, I don't believe this is possible given that we are supposed to be working remotely.  
<br>

<a href="#section2"><span class="removed">Mechanical Design</span><br></a>
I have done a lot of small design changes to various parts, however one of my original designs is the modular locking mechanism. The key constraint was that we couldn't add any additional motors to the robot, as we wanted the bot to remain light, and represent a "minimum viable product" therefore, we only had vertical and rotational movement. The lock that I designed fit these constraints, and was capable of supporting the robots through a vertical-to-horizontal pipe transition. 
<br>

<p id="section1">
<div class="iframe-container">
    <iframe src="https://www.youtube.com/embed/c90xAtrg7vk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</p>

<p id="section2">
    <div class="iframe-container">
        <iframe src="https://www.youtube.com/embed/o2nik-Y0BUU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</p>

<br>




<div>

    {% assign tags_sorted = site.tags | sort %}


    {% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "PoleBot" %}

    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}

        <div id="#{{ tag_name | slugize }}"></div>

        <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
        <a name="{{ tag_name | slugize }}"></a>

        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <a href="{{ post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow">
                    &rarr;</span>{% endif %}</a>
        </article>
        {% endfor %}
    </div>
    {% endif %}

    {% endfor %}

</div>