---
layout: page
permalink: /wm/
title: Writings and Musings
---

Various other writings will live here

<div>

    {% assign tags_sorted = site.tags | sort %}

    {% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "WritingsAndMusings" %}

    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}

        <div id="#{{ tag_name | slugize }}"></div>

        <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
        <a name="{{ tag_name | slugize }}"></a>

        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <a href="{{post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow">
                    &rarr;</span>{% endif %}</a>
        </article>
        {% endfor %}
    </div>
    {% endif %}

    {% endfor %}

</div>

My experience in ROTC has been challenging to say the least. It's also been different from most other cadets. These are about my experiences as a trans cadet

<div>

    {% assign tags_sorted = site.tags | sort %}


    {% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "ROTC" %}

    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}

        <div id="#{{ tag_name | slugize }}"></div>

        <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
        <a name="{{ tag_name | slugize }}"></a>

        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <a href="{{post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow">
                    &rarr;</span>{% endif %}</a>
        </article>
        {% endfor %}
    </div>
    {% endif %}

    {% endfor %}

</div>

I enjoy reading. Here are my thoughts on some books I've read.

<div>

    {% assign tags_sorted = site.tags | sort %}


    {% for tag in tags_sorted %}
    {% capture tag_name %}{{ tag | first }}{% endcapture %}

    {% if tag_name == "Books" %}

    <div class="archive-group">
        {% capture tag_name %}{{ tag | first }}{% endcapture %}

        <div id="#{{ tag_name | slugize }}"></div>

        <h3 class="tag-head"><small>#{{ tag_name }}</small></h3>
        <a name="{{ tag_name | slugize }}"></a>

        {% for post in site.tags[tag_name] %}
        <article class="archive-item">
            <a href="{{post.url }}">{{ post.title }}{% if post.link %}<span class="link-arrow">
                    &rarr;</span>{% endif %}</a>
        </article>
        {% endfor %}
    </div>
    {% endif %}

    {% endfor %}

</div>